@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

:root {
  --scheme: dark;
  color-scheme: var(--scheme);
}

html {
  scroll-behavior: smooth;
}


@layer components {
  .nav-item {
    @apply font-semibold transition-colors text-slate-700 dark:text-slate-50 hover:bg-slate-600 hover:text-slate-50 dark:hover:bg-slate-50 dark:focus:bg-slate-50 dark:hover:text-slate-800 dark:focus:text-slate-800 focus:outline-none;
    transition-duration: 0.25s;
  }

  .nav-button {
    @apply flex justify-center items-center gap-2 text-sm font-semibold border-2 w-[5.63rem] border-slate-600 rounded-md transition-colors py-1.5 px-3
    hover:dark:bg-slate-100 hover:bg-slate-600
    hover:text-slate-100 hover:dark:text-slate-600 text-slate-600 dark:text-slate-100;
    transition-duration: 0.25s;
  }

  .input {
    @apply absolute top-5 -translate-y-1/2 left-3 transition duration-200 peer-focus:scale-[80%] origin-top-left bg-slate-900 px-1 text-slate-600 peer-hover:text-slate-300  peer-focus:text-slate-50 peer-focus:translate-y-[-125%] pointer-events-none;
  }

  .roboto-mono {
    font-family: 'Roboto Mono', monospace;
  }

  .hamburger-cross {
    & span:nth-child(1) {
      transform: rotate(-45deg) translateY(290%);
    }
    & span:nth-child(2) {
      transform: translateX(-100%);
      opacity: 0;
    }
    & span:nth-child(3) {
      transform: rotate(45deg) translateY(-280%);
    }
  }

  .underscore {
    animation: underscore-animation 2s infinite;
  }

  .flip-box {
    background-color: transparent;
    perspective: 1000px;
  }

  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-box-back {
    transform: rotateX(180deg);
  }

  .clip {
    clip-path: polygon(0 0, 0 0, 0 0, 95% 0, 100% 25%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 100%);
    transition: all 0.5s;
  }

  .clip-hover {
      clip-path: polygon(0 0, 0 0, 0 0, 94.1% 0, 100% 30%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 100%);
  }

  /* ANIMATIONS */

  .gradient-green-y {
    --gradient-1: linear-gradient(
      45deg,
      #818cf8,
      #60a5fa,
      #6ee7b7,
      #60a5fa,
      #818cf8
    );
    background-image: var(--gradient-1);
    background-size: 400% 400%;
    background-position: top;
    animation: gradient-animation-y 7s infinite ease-in-out;
  }
  
  .gradient-pink-y {
    --gradient-2: linear-gradient(
      45deg,
      #f87171,
      #a78bfa,
      #f87171,
      #a78bfa,
      #f87171
    );
    background-image: var(--gradient-2);
    background-size: 400% 400%;
    background-position: top;
    animation: gradient-animation-y 7s infinite ease-in-out;
  }
  

  .pulse {
    animation: pulse-animation infinite 1s;
  }

  .slide-down {
    animation: slide-down-animation 0.5s ease-in-out;
  }

  .slide-up {
    animation: slide-up-animation 0.5s ease-in-out;
  }

  .icons-moving {
    animation: icons-animation 10s linear infinite;
  }

  @keyframes pulse-animation {
    0% {
      transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 0.65rem);
    }
    100% {
        transform: translate(0, 0);
    }
  }

  @keyframes gradient-animation-y {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes gradient-animation-x {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }

  @keyframes underscore-animation {
    from {
      opacity: 0;
    } to {
      opacity: 100;
    }
  }

  @keyframes slide-down-animation {
    0% {
      transform: translateX(-100%);
    }
    70% {
      transform: translateX(10%);
    }
    90% {
      transform: translateX(-5%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slide-up-animation {
    0% {
      transform: translateX(0);
      display: flex;
    }
    100% {
      transform: translateX(-150%);
      display: hidden;
    }
  }

  @keyframes icons-animation {
    0% {
      transform: translate3D(0, 0, 0);
    }
    100% {
      transform: translate3D(-33.33%, 0, 0);
    }
  }
}